<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<style type = 'text/css'>
.item-meta{
	font-size:10px;
	color:rgba(0,0,0,0.5);
}
.read-item{
	/*background-color:rgba(0,100,0,0.1);*/
}
.removed-item{
	background-color:white;
	opacity:0.3;
	display:none;
}
.unread-item{
	background-color:rgba(100,0,0,0.1);
}
.glyphicon.glyphicon-ok:hover{
	color:green;
	cursor:pointer;
}	
.glyphicon.glyphicon-remove:hover{
	color:red;
	cursor:pointer;
}
.card{
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	border:1px solid rgba(0,0,0,0.1);
	border-radius:5px;
}
.btn{
	margin-bottom:3px !important;
}
</style>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Feed Item</h4>
      </div>
      <div class="modal-body">
      	<%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>

<div class = 'col-md-3'>
	<div class = 'trending-container card'>
		<div class = 'pinned-container card'>
			<h4>Pinned Blogposts</h4>
			<% if @pinned.length == 0 %>
			Nothing to show
			<% end %>
			<% @pinned.each do |post| %>
			<div><a href = '/blog/post/<%= post.id %>'><%= post.title %></a></div>
			<% end %>
		</div>

		<h4>Trending Links</h4>
		<% @trending.each do |golink| %>
		<div>
			<a href = '<%= golink.link %>'>pbl.link/<%= golink.key %></a>
			<div class = 'text-muted smalltext indented'><%= golink.get_num_clicks %> Clicks, <%= golink.time_string %></div>
		</div>
		<% end %>
	</div>

	
</div>

<div class = 'col-md-6'>
<li class = 'list-group-item'>
	<h3>Feed Items</h3>
	<p>
		<div><%= @feed.length - @read.length - @removed.length %> new</div>
		<div><%= @read.length %> read</div>
		<div><%= @removed.length %> removed</div>
	</p>
</li>
<% @feed.each do |feed_item| %>
<% if @read.include?(feed_item.id) %>
<li class = 'list-group-item read-item'>
	<i class = 'glyphicon glyphicon-remove pull-right' id = '<%= feed_item.id %>'></i>
<% elsif @removed.include?(feed_item.id) %>
<li class = 'list-group-item removed-item'>
<% else %>
<li class = 'list-group-item unread-item'>
	<i class = 'glyphicon glyphicon-ok pull-right' id = '<%= feed_item.id %>'></i>
<% end %>
	<div class = 'pull-left'>
	</div>
	<h4><a href = '<%= feed_item.link %>'><%= feed_item.title %></a></h4>
	<%= feed_item.body %>
	<div class = 'item-meta'>
		<%= feed_item.get_permissions %> can view
		|&nbsp;<a id = '<%= feed_item.id %>' class = 'destroy-btn' href = 'javascript:void(0)'>Destroy</a>
		|&nbsp;<a href = '/feed/push/<%= feed_item.id %>'>Push</a>
		|&nbsp;<a href = '/feed/details/<%= feed_item.id %>'>Details</a>
	</div>
</li>
<% end %>
</div>
<div class = 'col-md-3'>
<div class = 'btn btn-primary' id = 'new-btn'>
	<i class = 'glyphicon glyphicon-send'></i>
	Create new feed item
</div>
<div class = 'btn btn-primary' id = 'toggle-removed'>
	<i class = 'glyphicon glyphicon-eye-open'></i>
	Toggle Removed Items
</div>

<div class = 'card' id= 'feed-guide'>
<ul>
	<li>
		This is a global list of feed items. Deleting an item here (clicking "Destroy") will delete it on everyone's feed. 
	</li>
	<li>
		Feed items can be re-pushed by clicking "Push" (push notification re-sent). 
	</li>
	<li>
		Clicking destroy will remove them on everyone's feed. 
	</li>
	<li>
		Track responses by clicking "Details". You can see who's viewed your feed item.
	</li>
	<li><b>Unread</b> show up in red. <b>Read</b> items show up in white, and <b>Removed</b> items show up but in lower opacity.</li>
</ul>
</div>

<script type = 'text/javascript'>
$('#toggle-removed').click(function(){
	$('.removed-item').toggle();
});
$('.glyphicon-ok').click(function(){
	$.ajax({
      url: '/feed/mark_read',
      type:'POST',
      data:{
        id: $(this).attr('id'),
        token: '<%= @token %>'
      },
      success:function(data){
      	location.reload();
      }
  });
});
$('.glyphicon-remove').click(function(){
	$.ajax({
      url: '/feed/remove',
      type:'POST',
      data:{
        id: $(this).attr('id'),
        token: '<%= @token %>'
      },
      success:function(data){
      	location.reload();
      }
  });
});
$('.destroy-btn').click(function(){
	var that = $(this);
	$.ajax({
		url:'/feed/destroy',
		type:'POST',
		data:{id: $(this).attr('id')},
		success:function(data){
			$(that).parents('li')[0].remove();
		}
	});
});
$('#new-btn').click(function(){
	$('#myModal').modal('show');
});
</script>