<style type = 'text/css'>
.email-div{
	max-height:250px !important;
	overflow:auto;
}
</style>
<a href = '/reminders/destroy_all'>
	<div class = 'btn btn-default'>Destroy All Reminders</div>
</a>

	<div id = 'destroy-id-btn' class = 'btn btn-default'>Destroy by ID</div>


<a href = '/reminders/new'>
	<div class = 'btn btn-default'>New Reminder</div>
</a>
<table class = 'table table-condensed'>
	<thead>
		<th>reminder_id</th>
		<th>author</th>
		<th>title</th>
		<th>body</th>
		<th>link</th>
		<th>recipients</th>

	</thead>
	<tbody>
<% @reminder_hash.keys.each do |id| %>
<tr>
	<td><%= id %></td>
	<td><%= @reminder_hash[id][0].author %></td>
	<td><%= @reminder_hash[id][0].title %></td>
	<td><%= @reminder_hash[id][0].body %></td>
	<td><%= @reminder_hash[id][0].link %></td>

	<td>
		<div class = 'email-div'>
		<% @reminder_hash[id].each do |r| %>
		<div>
			<%= r.member_email %>
			| <a href = 'javascript:void(0)' id = '<%= r.id %>' class = 'delete-reminder'>x</a>

		</div>
		<% end %>
		</div>	
	</td>

</tr>
<% end %>

<script type = 'text/javascript'>
$('#destroy-id-btn').click(function(){
	x = prompt('what id would you like to destroy?');
	if(x){
		$.ajax({
			url:'/reminders/destroy_id',
			type:'POST',
			data:{id: x},
			success:function(data){
				location.reload();
			}
		});
	}
});
$('.delete-reminder').click(function(){
	var that = $(this);
	$.ajax({
		url:'/reminders/delete',
		type:'POST',
		data:{
			id: $(this).attr('id')
		},
		success:function(data){
			$(that).parent().remove();
		}
	})
});
</script>