
<link rel = 'stylesheet' href= '/bootstrap.min.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<style type = 'text/css'>
#cat-img{
	width:100%;
}
.jumbotron{
	width:100%;
	background-color:black;
	color:white;
}
.jumbotron a{
	color:white;
}
#continue-link{
	position:fixed;
	right:0px;
	top:0px;
}
</style>

<div class = 'jumbotron'>
	<div id = 'continue-link'>
		<h4>
		<a href = '<%= @url %>'>
			Continue to pbl.link/<%= @key %>...
		</a>
		</h4>
	</div>
	<h3 style = 'text-align:center'>
		Reminders
	</h3>
</div>




<div class = 'col-md-4'></div>
<div class = 'col-md-4'>
	<% @reminders.each do |reminder| %>
	<div>
	<a class = 'pull-right delete-reminder' href = 'javascript:void(0)' id = '<%= reminder.id %>'>
		x
	</a>
	<h3>
		<a href = '/reminders/redirect/<%= reminder.id %>' target = '_blank' class = 'redirect-link'>
			<%= reminder.title %>
		</a>
	</h3>
	<p><%= reminder.body %></p>
	</div>
	<% end %>
</div>



<div class = 'col-md-4'></div>

<script type = 'text/javascript'>
$('.delete-reminder').click(function(){
	var that = $(this);
	$.ajax({
		url:'/reminders/delete',
		type:'POST',
		data:{
			id: $(this).attr('id')
		},
		success:function(data){
			$(that).parent().remove();
		}
	})
});
$('.redirect-link').click(function(){
	$(this).parent().parent().remove();
});
</script>