
<link rel = 'stylesheet' href= '/bootstrap.min.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<style type = 'text/css'>
#cat-img{
	width:100%;
}
.jumbotron{
	width:100%;
	background-color:black;
	color:white;
}
.jumbotron a{
	color:white;
}
#continue-link{
	position:fixed;
	right:0px;
	top:0px;
}
.small-div{
	font-size:1em;
	text-align:center;
}
</style>

<div class = 'jumbotron'>
	<div id = 'continue-link'>
		<h3>
		<a href = '<%= @golink.url %>'>
			Continue to pbl.link/<%= @golink.key %>...
		</a>
		</h3>
	</div>
	<h2 style = 'text-align:center'>
		[PBL] Reminders
	</h2>
	<div class = 'small-div'>Don't forget! Clear your reminders to avoid this message.</div>
</div>




<div class = 'col-md-4'></div>
<div class = 'col-md-4'>
	<ul class = 'list-group'>
	<% @reminders.each do |reminder| %>
	<li class = 'list-group-item' id = '<%= reminder.id %>'>

	<h3>
		<%= reminder.title %>
	</h3>
	<p><%= reminder.body %></p>
	<div class = 'btn-div'>
		<% if reminder.buttons and reminder.buttons.length>0 %>
			<% reminder.buttons.each do |btn| %>
			<div class = 'btn btn-default reminder-btn' data-id = '<%= reminder.id %>'><%= btn %></div>
			<% end %>
		<% else %>
			<div class = 'btn btn-default reminder-btn' data-id = '<%= reminder.id %>'>Done</div>
		<% end %>
			
		<% if reminder.has_link %>
			<div class = 'btn btn-default reminder-btn' data-link = '<%= reminder.link %>' data-id = '<%= reminder.id %>'>Visit Link</div>
		<% end %>
		</div>
	</li>
	<% end %>
</ul>
</div>



<div class = 'col-md-4'></div>

<script type = 'text/javascript'>
$('.reminder-btn').click(function(){
	var reminder = $('#'+$(this).attr('data-id'));
	var type = $(this).text();
	var that = $(this);
	$.ajax({
		url:'/reminders/set_response',
		type:'POST',
		data:{
			id: $(this).attr('data-id'),
			response: $(this).text()
		},
		success:function(data){
			if(type == 'Visit Link'){
				window.location.href = $(that).attr('data-link');
			}
			$(reminder).fadeOut();
			
		}
	});

});

</script>