
<link rel = 'stylesheet' href= '/bootstrap.min.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<style type = 'text/css'>
#cat-img{
	width:100%;
}
.jumbotron{
	width:100%;
	background-color:black;
	color:white;
	padding:15px !important;
}
.jumbotron a{
	color:white;
}
#continue-link{
	position:fixed;
	right:0px;
	top:0px;
	z-index:5000;
	background-color:black;
}
.small-div{
	font-size:1em;
	text-align:center;
}
.card{
	/*border:1px solid black;*/
	padding: 15px;
	margin: 10px;
	border-radius:5px;
	border:1px solid rgba(0,0,0,0.1);
	background-color:white;
	/*box-shadow: 10px 10px 5px #888888;*/
	/*background-color:rgba(0,0,0,0.1);*/
}
body{
	background-color:rgba(100,100,100,0.1);
}
</style>

<div class = 'jumbotron'>
	<div id = 'continue-link'>
		<h3>
		<a href = '<%= @golink.url %>'>
			Continue to pbl.link/<%= @golink.key %>...
		</a>
		</h3>
	</div>
	<h2 style = 'text-align:center'>
		<%= @reminders.length %> [PBL] Reminders
	</h2>
	<div class = 'small-div'>Don't forget! Clear your reminders to avoid this message.</div>
</div>




<div class = 'col-md-4'></div>
<div class = 'col-md-4'>
	<!-- <ul class = 'list-group'> -->
	<% @reminders.each do |reminder| %>
	<div class = 'card' id = '<%= reminder.id %>'>

	<h3>
		<%= reminder.title %>
	</h3>
	<p><%= reminder.body %></p>
	<div class = 'input-div'>
		<% if reminder.reminder_type == 'input' %>
		<input type = 'text' class = 'form-control' placeholder = 'Enter your input here' data-id = '<%= reminder.id %>' id = '<%= reminder.id %>-text'>
		<div style = 'clear:both;height:10px'></div>
		<% end %>
	</div>
	<div class = 'btn-div'>
		<% if reminder.buttons and reminder.buttons.length>0 %>
			<% reminder.buttons.each do |btn| %>
			<div class = 'btn btn-default reminder-btn' data-id = '<%= reminder.id %>'><%= btn %></div>
			<% end %>
		<% else %>
			<div class = 'btn btn-default reminder-btn' data-id = '<%= reminder.id %>'>Done</div>
		<% end %>
			
		<% if reminder.has_link %>
			<div class = 'btn btn-default reminder-btn' data-link = '<%= reminder.link %>' data-id = '<%= reminder.id %>'>Visit Link</div>
		<% end %>
		</div>
	</div>
	<% end %>
</ul>
</div>



<div class = 'col-md-4'></div>

<script type = 'text/javascript'>
$('.reminder-btn').click(function(){
	var reminder = $('#'+$(this).attr('data-id'));
	var type = $(this).text();
	var that = $(this);
	var reminderId = $(this).attr('data-id');
	$.ajax({
		url:'/reminders/set_response',
		type:'POST',
		data:{
			id: reminderId,
			response: $(this).text(),
			text: $('#'+reminderId+'-text').val()
		},
		success:function(data){
			if(type == 'Visit Link'){
				window.location.href = $(that).attr('data-link');
			}
			$(reminder).fadeOut();
			
		}
	});

});

</script>