
<table class = 'table table-condensed table-bordered'>
	<thead>
		<th>Name</th>
		<th>Committee</th>
		<th>Response</th>
	</thead>
	<tbody>
		<% @responses.each do |response| %>
		<tr>
			<td>
				<%= @email_hash[response.member_email] ? @email_hash[response.member_email].name : response.member_email %>
			</td>
			<td>
				<%= @email_hash[response.member_email] ? @email_hash[response.member_email].committee : '' %>
			</td>
			<td>
				<%= response.response %>
				<a href = '/reminders/refresh_response/<%= response.id %>'>
					x
				</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>


<div>
	<a href = '/reminders/destroy/<%= @reminder.id %>'>Destroy This Reminder</a>
</div>
