<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<a href = '/reminders/admin2'>Back to admin panel</a>
<div>
	<a href = '/reminders/export_csv/<%= @reminder.id %>'>Download CSV</a>
</div>
<table class = 'table table-condensed table-bordered'>
	<thead>
		<th>Name</th>
		<th>Committee</th>
		<th>Response</th>
		<th>Other Content</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @responses.each do |response| %>
		<tr>
			<td>
				<%= @email_hash[response.member_email] ? @email_hash[response.member_email].name : response.member_email %>
			</td>
			<td>
				<%= @email_hash[response.member_email] ? @email_hash[response.member_email].committee : '' %>
			</td>
			<td>
				<%= response.response %>
			</td>
			<td>
				<%= response.other_content %>
			</td>
			<td style = 'text-align:center'>
				<a href = '/reminders/refresh_response/<%= response.id %>'>
					<i class = 'glyphicon glyphicon-refresh'></i>
				</a>

			</td>
		</tr>
		<% end %>
	</tbody>
</table>


<div>
	<a href = '/reminders/destroy/<%= @reminder.id %>'>Destroy This Reminder</a>
</div>
