<style style ='text/css'>
.day{
	float:left;
	width:20%;
}
.hour-div{
	/*border:1px solid black;*/
}
</style>


<div>
<% @switch_requests.each do |request| %>
<div>Request to switch <%= @email_hash[request.email1].name %> with <%= @email_hash[request.email2].name %></div>
	<% if request.email2 == @me.email %>
		<a href = '/tabling/confirm_switch/<%= request.id %>'>Confirm Switch with <%= @email_hash[request.email1].name %></a>
	<% end %>
<% end %>

<% if @me.is_admin? %>
	<div class = 'btn btn-info' id = 'admin-switch-btn'>
	Admin Switch Tabling</div>
	<div>
		<%= link_to 'Check tabling slot availabilities', chair_tabling_path %>
	</div>
<% end %>
</div>
<h1>Tabling Schedule</h1>
<div id = 'switch-btn' class = 'btn btn-default'>Switch tabling</div>

<p>
	<a href = '/tabling/slots_available'>Check here for who to switch with</a>
</p>




<div class = 'row'>
<% @slot_hash.keys.each do |day| %>

	<div class = 'day'>
	<% @slot_hash[day].each do |slot| %>
		<div class = 'hour-div'>
			<div class = 'label label-info'>
			<%= slot.time_string %>
			</div>
			<% slot.member_emails.each do |email| %>
				<div><%= @email_hash[email].name %></div>
			<% end %>
		</div>
	<% end %>
	</div>

<% end %>
</div>


<script type = 'text/javascript'>
$('#admin-switch-btn').click(function(){
	var x = prompt("Enter both names (comma separated)", 'Justin Bieber, Selena Gomez');
	if(x){
		x = x.split(',');
		name1 = x[0].trim();
		name2 = x[1].trim();
		$.ajax({
			url:'/tabling/admin_switch',
			type:'POST',
			data:{
				name1: name1,
				name2: name2
			},
			success:function(data){
				location.reload();
			}
		})

	}
})
$('#switch-btn').click(function(){
	var x = prompt("Who do you want to switch with? (this will override any previous switch requests)");
	if(x){
		$.ajax({
			url:'/tabling/switch',
			type:'POST',
			data:{
				name: x,
			},
			success:function(data){
				location.reload();
			},
			error:function(data){
				alert('invalid switchee');
			}
		})
	}
});
</script>