<table class = 'table table-condensed'>
	<thead>
		<th>Name</th>
		<th>Description</th>
		<th>Members</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @groups.all.each do |group| %>
		<tr>
			<td>
				<%= group.name %>
			</td>
			<td>
				<%= group.description %>
			</td>
			<td>
				<%= group.group_members.length %>
				<% if group.is_open %>(open)<% end %>
			</td>
			<td>
				<%= link_to 'Delete', "/groups/destroy/#{group.id}" %>
				<%= link_to 'Links', "/go?group_id=#{group.id}" %>
				<%= link_to 'Posts', "#" %>
				<%= link_to 'Edit', "/groups/edit/#{group.id}" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
