<p>
	Groups help you control who can view your links and posts. The following is a list of groups you are part of. Use this panel to edit who's in your groups. Links and posts added to open groups are viewable by anyone.
</p>
<div>
	<a href = '/groups/new'>Create a group</a>
</div>
<table class = 'table table-condensed'>
	<thead>
		<th>Name</th>
		<th>Description</th>
		<th>Members</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @groups.all.each do |group| %>
		<tr>
			<td>
				<%= group.name %>
			</td>
			<td>
				<%= group.description %>
			</td>
			<td>
				<%= group.group_members.length %>
				<% if group.is_open %>(open)<% end %>
			</td>
			<td>
				<%= link_to 'Links', "/go?group_id=#{group.id}" %>
				<%= link_to 'Posts', "#" %>
				<%= link_to 'Edit', "/groups/edit/#{group.id}" %>
				<%= link_to 'Delete', "/groups/destroy/#{group.id}" %>

			</td>
		</tr>
		<% end %>
	</tbody>
</table>
