<style type = 'text/css'>
.golink-card{
	padding:15px;
	margin-bottom:10px;
}
.go-url{
	color: #006621;
}
.go-key{
	color:#1a0dab;
}
#group-meta-card{
	border: 1px solid rgba(0,0,0,0.1);
	padding:25px;
}
</style>



<div class = 'col-md-3'>
<a href = '/groups'>
	Back to Groups
</a>
</div>

<div class = 'col-md-6'>
<div id = 'group-meta-card'>
	<h1 class = 'centered'><%= @group.name %> (<%= @group.key %>)</h1>
	<div>
		Name: <%= @group.name %>
	</div>
	<div>
		Key: <%= @group.key %>
	</div>
	<div>
		Description: <%= @group.description %>
	</div>
	<div>
		Creator: <%= @group.creator %>
	</div>
	<div>
		Members: <%= @group.emails.join(', ') %>
	</div>
</div>
<% @golinks.each do |golink| %>
	<div class = 'golink-card'>
		<div>
			<img src = 'http://www.google.com/s2/favicons?domain=<%= golink.url %>'>
			<a class = 'go-key' href = '<%= golink.url %>'>
			<%= golink.key %>
			</a>
		</div>
		<div class = 'go-url'>
			<%= golink.url %>
		</div>
		<div>
			Description: <%= golink.description %>
		</div>
		<div>
			Creator: <%= golink.member_email %>
		</div>
		<div>
			Shared With: <%= golink.groups %>
		</div>
		<div>
			<%= golink.time_string %>
		</div>
	</div>
<% end %>
</div>

<div class = 'col-md-3'></div>
