
<table class = 'table table-bordered'>
	<thead>
		<th>name</th>
		<th>last sent</th>
		<th>last received</th>
		<th></th>
	<% @bots.all.each do |bot| %>
	<tr>
		<td>
			<div><%= bot.name %> (<%= bot.alias %>)</div>
			<div><%= bot.sender_id %></div>
			<div>Partner: <%= bot.group.map{|x| x.name}.join(', ') %></div>

		</td>
		<td>
			<div>
				<% bot.messages.order('created_at desc').where(sender: 'self').first(100).each do |msg| %>
					<div><%= msg.body %></div>
				<% end %>
			</div>
			
		</td>
		<td>
			<div>
				<% bot.messages.order('created_at desc').where.not(sender: 'self').first(5).each do |msg| %>
					<div><%= msg.body %></div>
				<% end %>
			</div>
		</td>
		<td>
			<div>
				<input type = 'text' id = '<%= bot.id %>-input'>
				<button class = 'send-btn' data-id = '<%= bot.id %>'>send</button>
			</div>
			<div>
				<textarea></textarea>
				<button class = 'send-json-btn' data-id = '<%= bot.id %>'>send json</button>
			</div>
		</td>
	</tr>
	<% end %>
</table>
<script type = 'text/javascript'>
$('.send-btn').click(function(){
	id = $(this).attr('data-id');
	$.ajax({
		url:'/pablo/send/'+id,
		type:'post',
		data:{
			msg: $('#'+id+'-input').val()
		},
		success:function(data){
			$('#'+id+'-input').val('');
		}
	});
})
</script>
