<style type = 'text/css'>
td{
	max-width: 300px !important;
}
</style>
<% if @filtered %>
	<%= link_to 'Unfiltered', '/clicks' %>
<% end %>

<%= will_paginate @golinks, :container => false %>

<table class = 'table table-condensed'>
	<% @clicks.each do |click| %>
	<tr>
		<td>
			<%= link_to click.name ? click.name : "" , "clicks?name=#{click.name}" %>
		</td>
		<td><%= link_to click.email ? click.email : '', "clicks?email=#{click.email}" %></td>
		<td>
			<%= link_to click.path ? click.path : "" , "clicks?path=#{click.path}" %>
		</td>
		<td>
			<div class = 'text-muted smalltext'><%= click.params %></div>
			<div class = 'text-muted smalltext'><%= click.properties %></div>
		</td>
		<td><%= hour_string(click.created_at) %></td>
	<% end %>
	</tr>
</table>