

  <% posts.each do |post| %>
  <tr class = 'post-toggle' id = '<%= post.id %>'>
    <td><%= post.time_string %></td>
    <td><%= post.title %></td>
    <td><%= post.author %></td>
    <td><%= group_string(post.groups) %></td>
  </tr>
  <% end %>

