<div class = 'post-meta'>
	<div>Posted By <%= email_hash[post.author].name %></div>
	<div>To <%= group_string(post.groups) %></div>
	<div>
		<div>
			<%= link_to 'Edit Post', "/blog/edit?id=#{post.id}" %>
		</div>
		<% if current_member.is_officer? %>
			<div>
				<%= link_to 'Email Post', "/blog/email/#{post.id}" %>
			</div>
		<% end %>
		<div>
			<%= link_to 'Push Post', "/blog/push_post/#{post.id}" %>
		</div>
	</div>
</div>