<li class = 'list-group-item'>
	<h3 id = '<%= post.id %>'><%= post.title %></h3>
	<% if post.tags %>
	<% post.tags.each do |tag| %>
		<div class = 'label-default label'><%= tag %></div>
	<% end %>
	<% end %>

	<div><%= raw(post.content)%></div>

	<div class = 'post-meta'>
		<div><%= post.author %></div>
		<div><%= post.view_permissions %> can view</div>
		<div>Semester: <%= post.semester ? post.semester : 'None' %></div>
		<div>
			<a href = '/blog/edit?id=<%= post.id %>'>Edit post</a> 
			&nbsp;|&nbsp;<a href = '/blog/post/<%= post.id %>'>Link to post</a>
			<% if current_member.is_officer? %>
			&nbsp;|&nbsp;<a href = '/blog/email/<%= post.id %>'>Email post</a>
			<% end %>
		</div>
	</div>
</li>