
<div>
	<a href = 'javascript:void(0)' onclick = 'showPostModal(<%= @post.id %>)'>Back to Post</a>
</div>
<div id = 'comment-box'>
	<textarea id = 'comment-textarea' class = 'form-control' placeholder = 'Leave a comment'></textarea>
	<div id = 'submit-comment-btn' class = 'pull-right btn btn-default' onclick = 'saveComment(<%= @post.id %>)'>Enter</div>
</div>


<% @comments.each do |comment| %>
<div class = 'comment-div' id = '<%= comment.id %>-comment-div'>
	<% if comment.member_email == myEmail %>
		<a href = 'javascript:void(0)' class =  'pull-right comment-delete-link' onclick = 'deleteComment(<%= comment.id %>)'>Delete</a>
	<% end %>
	<div class = 'text-muted smalltext'><%= get_name(comment.member_email) %> at <%= hour_string(comment.created_at) %></div>
	<div>
		<img src = '<%= gravatar(comment.member_email) %>' class = 'profile-img'>
		<%= comment.content %>
	</div>
</div>
<% end %>

<script>

$('.comment-div').hover(function(){
	console.log('activating')
 	
 	$(this).find('.comment-delete-link').show();
 }, function(){
 	$('.comment-delete-link').each(function(){
 		$(this).hide();
 	})
 });
</script>