
<h1>Send Post</h1>

<h3>Title: <%= @post.title %></h3>
<div>
	<a href = '/blog?post_id=<%= @post.id %>'>Back to post</a>
</div>

<p>Who should receive the post</p>
<% @channels.each do |channel| %>
<div class="channel-btn btn btn-default" id = 'channel'><%= channel %></div>
<% end %>

</div><!-- end of email controller -->

<script type = 'text/javascript'>
$('.channel-btn').click(function(){
	$.ajax({
		url:'/blog/send_email/<%= @post.id %>',
		type:'POST',
		data:{
			channel: $(this).text()
		},
		success:function(data){
			window.location = '/blog/post/<%= @post.id %>'
		}
	});
});
</script>

</body>