<style type = 'text/css'>
.post-content:hover{
  opacity:1;
}
.post-content{
   margin-top:20px;
}
.post-toggle:hover{
  cursor:pointer;
}
.post-div{
	border:1px solid rgba(0,0,0,0.1);
  width:30%;
  height:410px;
	margin:10px;
	padding:25px;
	float:left;
  overflow:hidden;
}
.post-div:hover{
  cursor:pointer;
}
.title{
	font-size:1.3em;
	font-weight:bold;
}
.timestring{
}
.read-more-link{
  /*bottom:10px;*/
  position:relative;
  vertical-align:bottom;
  bottom:0;
  /*bottom:0px;*/
}
.filter-btn{
  margin-top:5px;
}
#top-stuff{

}
.flickr_pagination{
  margin-top:1em;
  margin-bottom:1em;
}
.profile-img{
  height:35px;
  border-radius:100px;
}
#search-input{
  width:30%;
  text-align: center;
  margin-left:36%;
}
</style>
<%= stylesheet_link_tag 'flickr_pagination' %>
<%= render partial: 'show_modal' %>

<a href = '/blog/edit'>
    <div class = 'btn btn-info'>Add New Post</div>
  </a>


<div id = 'top-stuff' class = 'centered'>
  
  <% if @list %>
    <a href = '/blog'>Grid View</a>
  <% else %>
    <a href = '/blog?view=list'>List View</a>
  <% end %>
    <input type = 'text' class = 'form-control' id = 'search-input' placeholder = 'Search' value = '<%= @query %>'>

  <div class="flickr_pagination">
    <%= will_paginate @posts, :container => false %>
  </div>
</div>



<% if @list %>
<table class = 'table table-condensed table-hover'>
  <thead>
    <th>Date</th>
    <th>Title</th>
    <th>Author</th>
    <th>Groups</th>
  </thead>
  <tbody id = 'post-area'>
    <%= render partial: 'blog/list', locals:{posts: @posts} %>
  </tbody>
</table>
<% else %>
<div id = 'post-area'>
<%= render partial: 'blog/grid', locals:{posts: @posts, email_hash: @email_hash} %>
</div>
<% end %>



<script type = 'text/javascript'>
var page = <%= @page %>;
function activateToggles(){
  $('.post-toggle').unbind('click').click(function(){
    showPostModal($(this).attr('id'));
    // window.location.href = '/blog/post/'+$(this).attr('id');
  })
}
activateToggles();
var last_scroll_time = 0;
<% if @list %>
var ajax_params = '?view=list&q=<%= @query %>';
<% else %>
var ajax_params = '?view=grid&q=<%= @query %>';
<% end %>
$(window).scroll(function(){
  pos = $(window).scrollTop();
  height = $(document).height()-$(window).height()-10;
  if(pos > height){
    now = new Date().getTime() / 1000;
    if(now-last_scroll_time > 1){
      getNextPage();
    }
  }
})


function getNextPage(){
  last_scroll_time = new Date().getTime() / 1000;
  page += 1;
  $.ajax({
    url: '/blog/ajax_scroll/'+page+ajax_params,
    type:'get',
    success:function(data){
      $('#post-area').append(data);
      activateToggles();
    }
  })
}

function showPostModal(id){
  $.ajax({
    url: '/blog/show/'+id,
    type:'get',
    success:function(data){
      $('#show-modal-content').html(data);
      $('#show-modal').modal('show');
    }
  });
}

function loadComments(id){
  $.ajax({
    url: '/blog/comments/'+id,
    type:'get',
    success:function(data){
      $('#show-modal-body').html(data);
    }
  });
}

function deleteComment(id){
  $.ajax({
    url: '/blog/delete_comment/'+id,
    type:'post',
    success:function(data){
      $('#'+id+'-comment-div').remove();
    }
  })
}
function saveComment(id){
  $.ajax({
    url:'/blog/post_comment/'+id,
    type:'post',
    data:{
      comment: $('#comment-textarea').val()
    },
    success:function(data){
      loadComments(id);
    }
  })
}

<% if @post_id %>
showPostModal('<%= @post_id %>');
<% end %>

 $('#search-input').on('keypress', function (event) {
       if(event.which === 13){
          $(this).attr("disabled", "disabled");
          <% if @list %>
          window.location = '/blog?view=list&q='+$(this).val();
          <% else %>
          window.location = '/blog?q='+$(this).val();
          <% end %>
       }
 });
</script>