<style type = 'text/css'>
#post-area{
	overflow:auto;
}
#search-input{
	width:300px;
}
.post-meta{
	margin-top:10px;
	border-top:1px dotted rgba(0,0,0,0.1);
	padding-top: 5px;
}
.tag-label>a{
	color:white;
}
.tag-label{
	margin:2px;
}
.black{
	background-color:black !important;
}
</style>




<div class = 'col-md-3'>
	<a href = '/blog/edit'>
		<div class = 'btn btn-default'>Add New Post</div>
	</a>
	

</div>
<div id = 'post-area' class = 'col-md-6'>
	<div>
		<% Post.tags.each do |tag| %>
			<% if @tag == tag %>
			<div class = 'tag-label label label-primary'>
			<% else %>
			<div class = 'tag-label label label-default'>
			<% end %>
				<a href = '/blog?tag=<%= tag %>'>
					<%= tag %>
				</a>
			</div>
		<% end %>
	</div>
	<div style = 'height:15px;clear:both'></div>
	<input type = 'text' class = 'form-control' id = 'search-input' placeholder = 'Search Blogposts'>

	

	<% if @tag %>
		<div>
			<a href = '/blog'>Clear filters</a>
		</div>
	<% end %>
	<%= will_paginate @posts %>
	<ul class = 'list-group'>
	<% @posts.each do |post| %>
		<%= render partial: 'post', locals: {post: post} %>
	<% end %>
	</ul>
</div>

<div class = 'col-md-3'>
	<h3>Pinned Posts</h3>
	<ul class = 'list-group'>
	<% @posts.select{|x| x.tags and x.tags.include?('Pin')}.each do |post| %>
		<li class='list-group-item'>
			<a href = '/blog/post/<%= post.id %>'><%= post.title %></a>
		</li>
	<% end %>
	</ul>
</div>

<script type = 'text/javascript'>
</script>