<style type = 'text/css'>
#post-area{
	overflow:auto;
}
#search-input{
	width:300px;
}
.post-meta{
	/*border: 1px solid rgba(0,0,0,0.1);*/
	background-color:#F3F3FD;
	padding:10px;
	margin:5px;	
}
.tag-label>a{
	color:white;
}
#comment-group{
	margin-top:20px;
}
</style>

<div class = 'col-md-3'>
	<%= link_to 'Back to Blog', blog_path %>
	<%= render partial: 'meta', locals: {post: @post, email_hash: @email_hash} %>
</div>

<div id = 'post-area' class = 'col-md-6'>
	<%= render partial: 'post', locals: {post: @post} %>
</div>


<div class = 'col-md-3'>
	<textarea id = 'comment-textarea' class = 'form-control' placeholder = 'Let <%= @email_hash[@post.author].name %> know what you think'></textarea>
	<div id = 'add-comment-btn' class = 'btn btn-default'>Add Comment</div>

	<div class = 'comments-div'>
		<% if @comments.length == 0 %>
		<div id = 'comment-group'>
			No comments to show
		</div>
		<% else %>
		<h4>Comments</h4>
		<ul class = 'list-group' id = 'comment-group'>
			<% @comments.each do |comment| %>
			<li class = 'list-group-item'>
				<%= @email_hash[comment.member_email].name %>:
				<%= comment.content %>
				<div class = 'smalltext text-muted'><%= comment.created_at %></div>
			</li>
			<% end %>
		</ul>
		<% end %>
	</div>
</div>


<script type = 'text/javascript'>
$('#add-comment-btn').click(function(){
	$.ajax({
		url:'/blog/post_comment/<%= @post.id %>',
		type:'POST',
		data:{
			comment:$('#comment-textarea').val()
		},
		success:function(data){
			location.reload();
		}
	});
});
</script>