<style type = 'text/css'>
#golink-info-outer{
	top:50px;
	right:0px;
	width:400px;
	background-color: #f2f2f2;
	z-index:1000;
	display:none;
}
#close-info-btn{
	margin:1em;
}
.gravatar-img{
	height:30px;
	border-radius:100px;
}
</style>
<%= javascript_include_tag 'go_table' %>

<table class = 'table table-condensed table-hover'>
	
	<tbody>
		<% golinks.each do |golink| %>
		<tr id = '<%= golink.id %>-tr' class = 'golink-row' data-id = '<%= golink.id %>'>
			<td>
				<input type = 'checkbox' id = '<%= golink.id %>-checkbox'  class = 'golink-checkbox' data-id = '<%= golink.id %>' >
				&nbsp;
				<img src = 'http://www.google.com/s2/favicons?domain=<%= golink.url %>'>
			</td>
			<td class = 'mute-info'>
				<a class = 'mute-info' href = '<%= golink.url %>'>
					<%= golink.key %>
				</a>
			</td>
			<td>
				<% if golink.description.present? %>
				&nbsp;&nbsp;<%= golink.description %>
				<% end %>

			</td>
			<td>
				<img src = '<%= golink.gravatar %>' class = 'gravatar-img'>
			</td>
			<td>
				<div class = 'text-muted smalltext'><%= golink.member_email %></div>
				<div class = 'text-muted smalltext'>
					To: <%= group_string(golink.groups) %>
				</div>
				<div class = 'text-muted smalltext'>
					<%= golink.time_string %>
				</div>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>



<div id = 'golink-info-outer' class = 'affix'>
	<div id = 'golink-info-container'></div>
</div>
