<%= javascript_include_tag 'go_table' %>

<table class = 'table table-condensed'>
	
	<tbody>
		<% golinks.each do |golink| %>
		<tr id = '<%= golink.id %>-tr' class = 'golink-row' data-id = '<%= golink.id %>'>
			
			<td>
				<img src = 'http://www.google.com/s2/favicons?domain=<%= golink.url %>'>
			</td>
			<!-- mute info stops the editing popup from showing --> 
			<td class = 'mute-info key-td'>
				<a class = 'mute-info' href = '<%= golink.url %>' id = '<%= golink.id %>-key'>
					<%= golink.key %>
				</a>
				<a href = 'javascript:void(0)' class = 'edit-link pull-right' data-id = '<%= golink.id %>'>Edit</a>
			</td>
			<td id = '<%= golink.id %>-description'>
				<%= golink.description %>
			</td>
			
			<td class = 'right-td'>
				<div class = 'text-muted smalltext'>
					<%= date_string(golink.created_at) %>
				</div>
				<div class = 'text-muted smalltext'><%= get_name(golink.member_email) %>
				</div>
				<div class = 'text-muted smalltext' id = '<%= golink.id %>-group_string'>
					<%= group_string(golink.groups) %>
				</div>
				
			</td>
			<td class = 'gravatar-td'>
				<img src = '<%= gravatar(golink.member_email) %>' class = 'gravatar-img'>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>


