<script type = 'text/javascript' src = '/typeahead.bundle.js'></script>
<%= stylesheet_link_tag 'go' %>
<%= stylesheet_link_tag 'flickr_pagination' %>
<%= javascript_include_tag 'go_menu' %>
<%= render partial: "go/batch_edit_modal" %>
<div class = 'row'>



<div class = 'col-md-8' id = 'col6'>
<div id = 'title-box'>
	<h1 class = 'centered' id = 'pbl-links-title'>
		<% if @group %>
			<%= @group.name %>
		<% else %>
			PBL Links
		<% end %>
	</h1>
	<% if @group %>
		<div class = 'centered'>
			<p><%= @group.description %></p>
			<%= @group.get_type.capitalize %> Group (<%= @group.group_members.length %> Members)
			&nbsp;
		<% if @group.can_edit(myEmail) %>
			<%= link_to 'Edit Group', "/groups/edit/#{@group.id}" %>
		<% end %>
		</div>
	<% end %>
	<input type = 'text' class = 'form-control' placeholder = 'Search  |  Paste your long url here' id = 'search-input' value = '<%= @search_term %>'>
	<div id = 'trash-link-div'>
		<a href = '/go/trash'>Trash</a>
	</div>
	<div id = 'checked-div'>
		<span>
			<a href = 'javascript:void(0)' id = 'checked-link' onclick = 'showEditModal()'>
			Edit <span id = 'checked-count'></span> Selected Links</a>
		</span>&nbsp;&nbsp;
		<span class = 'pull-right'>
			<a href = '/go/deselect_links'>Deselect Links</a>
		</span>

		<div>
			<a href = '/go/menu?selected=true'>Show Selected Links</a>
		</div>
	</div>

</div>

<div>
	<div class="flickr_pagination">
    <%= will_paginate @golinks, :container => false %>
  	</div>
</div>
<div id = 'go-table-container'>
	<%= render partial: 'go/table', locals:{golinks: @golinks} %>
</div>

</div>


<div class = 'col-md-4'>
	<div id = 'groups-container'>
		<h4>
			<a href = '/groups' class = 'group-link'>My Groups</a>
		</h4>
		<input class = 'form-control' placeholder = 'Search Groups' id = 'groups-input'>
		<% @groups.each do |group| %>
			<div class = 'group-div small-group <%= group == @group %>-group' data-group = '<%= group.name %>'>
				<% if not group.is_open %>*<% end %>
				<a class = 'group-link small-group-link' href = '/go?group_id=<%= group.id %>'>
				<%= group.name %>
				</a>
			</div>
		<% end %>
		<div id = 'create-group-div'>
			<a href = '/groups/new'>Create a group</a>
		</div>
		<div>
			* = Private Group
		</div>
	</div>
</div>





<script>
var group_id = <%= @group_id %>;
var groups = <%= raw(@groups.map{|x| [x.id, x.name]}) %>;
var group_names = _.map(groups, function(x){ return x[1]});
var group_id_dict = {};
_.each(groups, function(x){
	group_id_dict[x[1]] = x[0];
})
</script>


<script type  ='text/javascript'>
var page = <%= @page %>;
<% if @ajax_params %>
	var ajax_params = '<%= @ajax_params %>';
<% else %>
	var ajax_params = '';
<% end %>
var last_scroll_time = 0;
</script>

<%= javascript_include_tag 'go' %>
<%= javascript_include_tag 'batch_typeahead' %>