<%= stylesheet_link_tag 'go' %>
<%= stylesheet_link_tag 'flickr_pagination' %>
<%= javascript_include_tag 'go_menu' %>

<div class = 'row'>

<div class = 'col-md-2'>
	<div id = 'groups-container'>
		<div class = 'half-em'>My Groups</div>
		<input class = 'form-control' placeholder = 'Search Groups' id = 'groups-input'>
		<a href = '/go/menu'>All Groups</a>
		<% @groups.each do |group| %>
			<div class = 'group-div' data-group = '<%= group.name %>'>
				<a href = '/go?group_id=<%= group.id %>'>
				<%= group.name %>
				</a>
				<% if group.is_open %>
				(open group)
				<% end %>
			</div>
		<% end %>
		
		<div id = 'create-group-div'>
			<a href = '/groups/new'>Create a group</a>
		</div>
	</div>
</div>
<div class = 'col-md-7' id = 'col6'>
<div id = 'title-box'>
	<h1 class = 'centered' id = 'pbl-links-title'>
		<% if @search_term %>
			Search: <%= @search_term %>
		<% elsif @group %>
			<%= @group.name %>
		<% else %>
			PBL Links
		<% end %>

	</h1>
	<% if @group %>
		<div class = 'centered'>
			<%= @group.get_type.capitalize %> Group (<%= @group.group_members.length %> Members)
			&nbsp;
		<% if @group.creator == myEmail %>
			<%= link_to 'Edit Group', "/groups/edit/#{@group.id}" %>
		<% end %>
		</div>
	<% end %>
	<input type = 'text' class = 'form-control' placeholder = 'Search  |  Paste your long url here' id = 'search-input'>
	<div id = 'trash-link-div'>
		<a href = '/go/trash'>Trash</a>
	</div>
	<div id = 'checked-div'>
		<span>
			<a href = '/go/checked_links' id = 'checked-link'>
			Edit <span id = 'checked-count'></span> Selected Links</a>
		</span>&nbsp;&nbsp;
		<span>
			<a href = '/go/deselect_links'>Deselect Links</a>
		</span>
	</div>

</div>

<div>
	<div class="flickr_pagination">
    <%= will_paginate @golinks, :container => false %>
  	</div>
</div>
<div id = 'go-table-container'>
	<%= render partial: 'go/table', locals:{golinks: @golinks} %>
</div>

</div>




<div class = 'col-md-3'>
<div id = 'right-div' class = ''>

<% if not @batch_editing %>
	
	
<% else %>
<h3>Batch Edit these Links</h3>

<div class = 'half-em'>Add/Remove Groups</div>

<table class = 'table table-condensed table-hover'>
	<% @groups.each do |group| %>
	<tr>
		<td>
			<a href = '/go?group_id=<%= group.id %>'>
				<%= group.name %>
			</a>
		</td>
		<td><input id = 'add-group-<%= group.id %>-checkbox' class = 'batch-group-checkbox' type = 'checkbox' data-type = 'add' data-id = '<%= group.id %>'>&nbsp;Add</td>
		<td><input id = 'remove-group-<%= group.id %>-checkbox'  class = 'batch-group-checkbox' type = 'checkbox' data-type = 'remove' data-id = '<%= group.id %>'>&nbsp;Remove</td>
	</tr>
	<% end %>
</table>


<div class = 'btn btn-info' id = 'update-groups-btn'>Update Groups</div>
<a href = '/go/delete_checked'>
	<div class = 'btn btn-danger pull-right' id = 'delete-all-btn'>Delete All</div>
</a>

<% end %>


</div><!-- end of right-div -->
</div><!--end of col-->

</div> <!-- end of row -->


<script type  ='text/javascript'>
var page = <%= @page %>;
<% if @ajax_params %>
	var ajax_params = '<%= @ajax_params %>';
<% else %>
	var ajax_params = '';
<% end %>
var last_scroll_time = 0;
</script>

<%= javascript_include_tag 'go' %>