
<style type = 'text/css'>
#golink-btns{
	display:none;
}
</style>

<%= render partial: "go/edit_golink_card", locals: {golink: @golink, groups: @groups} %>
<div class = 'field-div'>
	<div class = 'btn btn-info' onclick = 'saveGoLink(<%= @golink.id %>)'>Update</div>
	<div class = 'btn btn-danger pull-right' onclick = 'destroyGoLink(<%= @golink.id %>)'>Delete</div>
</div>

<%= render partial: "go/add_script", locals: {golink: @golink, groups: @groups} %>

<%= javascript_include_tag 'go_add' %>