<style>
.profile-img{
	height:100px;
}
.basic-info{
	padding:15px;
	/*border: 1px solid black;*/
}
</style>
<div class = 'btn btn-default' data-id = '<%= profile.id %>'>Edit</div>
<h1><%= profile.email %></h1>
<div class = 'basic-info'>
	<div>
		<b>Major:</b> <%= profile.major %>
	</div>
	<div>
		<b>Graduation Date:</b> <%= profile.grad %>
	</div>i
	<div>
		<b>Hometown:</b> <%= profile.hometown %>
	</div>
</div>

<div>
	Projects: 
	<% @profile.get_projects.each do |project| %>
		<%= link_to project, '#' %>
	<% end %>
</div>

<div>
	<% profile.get_images.each do |image| %>
		<%= image_tag image, class: 'profile-img' %>
	<% end %>
</div>