<% if @editing %>
	<h1>Create A New Profile</h1>
<% else %>
	<h1>Edit Profile</h1>
<% end %>

<%= form_tag '/profiles/update' %>

<%= text_field_tag 'email', myEmail, class: 'form-control' %>
<%= text_field_tag 'grad', '', 
	class: 'form-control',
	placeholder: 'Grad date' %>
<%= text_field_tag 'phone', nil, 
	class: 'form-control',
	placeholder: 'positions' %>
<%= text_field_tag 'email', myEmail, class: 'form-control' %>