
<style type = 'text/css'>
.project-img{
	height:150px;
}
</style>
<% if @project == nil %>
<h1>That project was not found</h1>
<% else %>
<div class = 'col-md-3'>
<%= link_to 'Back to profiles', profiles_path %>
</div>
<div class = 'col-md-6'>
<h1><%= @project.name %></h1>
<p>
	<% @project.get_images.each do |img| %>
	<img src = '<%= img %>' class = 'project-img'>
	<% end %>
</p>

<div>
	<b>Description:</b> <%= @project.description %>
</div>

<div><b>Members:</b>
	<% @project.members.each do |member| %>
	<a href = '#'>
		<%= member %>
	</a>
	<% end %>
</div>
<div>
	<b>Links:</b> 
	<% @project.get_links.each do |link| %>
	<a href = '<%= link %>'><%= link %></a>
	<% end %>
</div>

<% if @project.embed? %>
<div>
	<%= raw(@project.embed) %>
</div>
<% end %>

</div>
<!-- end of col -->
<div class = 'col-md-3'></div>
<% end %>