<style class = 'text/css'>
.card{
	padding:15px;
	border:1px solid rgba(0,0,0,0.1);
	width: 30%;
	/*width:45%;*/
	height:500px;
	border-radius:5px;
	margin:15px;
	float:left;
}
.profile-img{
	border-radius:10000px;
	height: 150px;
}
</style>
<h1>PBL Profiles</h1>
<p>PBL's past, present, and future! Come and see for yourself!</p>
<% @profiles.each do |profile| %>
<div class = 'card'>
	<h4><%= @email_hash[profile.email].name %></h4>
	<% if profile.get_nicknames.length > 0 %>
		<p>
			<b>AKA: </b>
			<%= profile.get_nicknames.join(', ') %>
		</p>
	<% end %>
	<% profile.get_images.each do |img| %>
		<img src = '<%= img %>' class = 'profile-img'>
		</img>
	<% end %>

	<div>
		<b>Major:</b> <%= profile.major %>
	</div>
	<div>
		<b>Graduation Date:</b> <%= profile.grad %>
	</div>
	<div>
		<b>Hometown:</b> <%= profile.hometown %>
	</div>
	<div>
		<b>Phone:</b> <%= @email_hash[profile.email].phone %>
	</div>
	<div>
		<b>Past positions:</b> 
		<% profile.get_positions.each do |position| %>
		<a href = '/position?position=<%= position %>'><%= position %></a>&nbsp;
		<% end %>
	</div>
	<div>
		<b>Projects:</b> 
			<% profile.get_projects.each do |project| %>
				<a href = '/profiles/get_project?name=<%= project %>'><%= project %></a>&nbsp;
			<% end %>
	</div>

	<div>
		<b>Jobs:</b> 
			<%= profile.get_jobs.join(', ') %>
	</div>
</div>
<% end %>