<!DOCTYPE html>
<html>
<head>
  <title>[PBL][MP]</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css -->
<link rel="stylesheet" href="/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js-->
<script src="/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src = 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>

  <link rel="icon" 
      type="image/png" 
      href="/logo-135.png">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro' rel='stylesheet' type='text/css'></head>
<body>

<style type = 'text/css'>
#main-content{
  margin-left:25px;
  margin-right:25px;
}
#searchInput{
  /*border-radius:3px;*/
  border:none;
  border-radius:0px;
}
#header-search{
  display:block;
}
.ng-cloak { display:none; }
#logo-img{
  height: 35px;
    margin-top: 7px;
}
</style>

<nav style = 'border-radius:0px; margin-bottom:15px; padding:0px; ' class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href = '/'>
        <img id = 'logo-img' src = '/logo-135.png' />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="http://wd.berkeley-pbl.com/wiki">WIKI</a></li>
        <li><a href="/go/menu">PBL LINKS</a></li>
        <li><a href="/tabling">TABLING</a></li>
        <li><a href="/points">POINTS</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/me">ME</a></li>
        <% if myEmail != nil and myEmail != '' %>
          <li><a href="/auth/logout">LOGOUT (<%= myEmail %>)</a></li>
        <% end %>
      </ul>
      <div id="p-search header-search" class="p-search pull-right" role="search">
        <form id="searchform" class="navbar-form navbar-right" action="http://wd.berkeley-pbl.com/wiki/index.php">
          <input type="hidden" name="title" value="Special:Search" class="webfonts-changed">
          <div class="input-group">
            <input name="search" placeholder="Search" title="Search PBL Wiki [ctrl-option-f]" accesskey="f" id="searchInput" class="form-control webfonts-changed" autocomplete="off">
          </div>
        </form>
      </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id = 'main-content'>
<%= yield %>
</div>


</body>
</html>
