<table class = 'table table-bordered table-condensed'>
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Committee</th>
		<th>Position</th>
		<th>Phone</th>
		<th></th>
		
	</thead>
	<tbody>
	<% @members.each do |member| %>
	<tr>
		<td><%= member.name %></td>
		<td><%= member.email %></td>
		<td><%= member.committee %></td>
		<td><%= member.position %></td>
		<td><%= member.phone %></td>
		<td><%= member.gcm_id %></td>	
	</tr>
	<% end %>
	</tbody>
</table>