<style type = 'text/css'>
.not-registered{
	background-color:rgba(200,0,0,0.1);
}
</style>

<table class = 'table table-bordered table-condensed'>
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Committee</th>
		<th>Position</th>
		<th>Phone</th>
		<th></th>
		
	</thead>
	<tbody>
	<% @members.each do |member| %>
	<% if member.gcm_id %>
	<tr>
	<% else %>
	<tr class = 'not-registered'>
	<% end %>
	
		<td><%= member.name %></td>
		<td><%= member.email %></td>
		<td><%= member.committee %></td>
		<td><%= member.position %></td>
		<td><%= member.phone %></td>
	</tr>
	<% end %>
	</tbody>
</table>