

<style type = 'text/css'>
.day-div{
	text-align: center;
}
.hour-div{
	padding:5px;
	border:1px solid rgba(0,0,0,0.1);
	text-align: center;
	cursor:pointer;
}
.hour-div.selected{
	background-color:rgba(0,0,0,0.1);
}
#notification-id-input{
	width:300px;
}
.card{
	border:1px solid rgba(0,0,0,0.1);
	border-radius:5px;
	padding:15px;
}
</style>
<body ng-app = 'meApp'>

<div class = 'col-md-3'>
<% if @me.is_officer? %>
	<div class = 'card'>
		<h3>Officer Tools</h3>
		<div>
			<a href = 'http://pbl.link/recent'>pbl.link/recent</a>
		</div>
		<div>
			<a href = 'http://pbl.link/track'>pbl.link/track</a>
		</div>
		<div>
			<a href = 'http://pbl.link/remind'>pbl.link/remind</a>
		</div>
	</div>
<% end %>
</div>
<div class = 'col-md-6'>

<ul class = 'list-group'>

<li class = 'list-group-item'>
	<h2>Account information</h2>
	<p>If these are incorrect, edit your information in pbl.link/contact-sheet</p>

	<div>Name: <%= @me.name %></div>
	<div>Email: <%= @me.email %></div>
	<div>Phone: <%= @me.phone %></div>
	<div>Committee: <%= @me.committee %></div>
	<div>Position: <%= @me.position %></div>
</li>

<li class = 'list-group-item'>

	<h2>Tabling Setup</h2>
	<p>Tell us when you're free</p>
	<div id = 'commitments-container' ng-controller = 'CommitmentsCtrl' class = 'row'>
		<div class = 'row'>
			<div ng-repeat = 'dayIndex in dayIndices' class = 'col-md-2 day-div'>
				{{days[dayIndex]}}
				<div ng-repeat = 'hourIndex in hourIndices' class = 'hour-div' id = 'hour-{{dayIndex * 24 + (hourIndex+10)}}'>
					{{hours[hourIndex]}}
				</div>
			</div>
		</div>
		<!-- end of chart -->
		<p>
			<div class = 'btn btn-default' ng-click = 'saveCommitments()'>Save Times</div>
			<div class = 'btn btn-default' ng-click = 'clear()'>Clear</div>
		</p>
	</div>
</li>
<li class = 'list-group-item'>
	<h2>Notification Setup</h2>
	<% if @me.gcm_id %>
	<div>You are successfully registered for notifications from the portal</div>
	<% else %>
	<div>You are not registered for notifications from the portal. Register via the chrome extension</div>
	<% end %>
	<div>
		Your portal token is <b><%= Member.string_to_hex(@me.email) %></b>
	</div>
</li>

<!-- <li class = 'list-group-item'>
	<h2>Wiki Account</h2>
	You can log into the wiki with username <b><%= @me.email.split('@')[0] %></b> and password: <b>asdf</b>
</li> -->
</ul>

</div><!-- end of col md 6 -->
<div class = 'col-md-3'></div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src = 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script type = 'text/javascript'>
var app = angular.module('meApp', []);
var commitments = <%= @me.get_commitments.to_json %>;
app.controller('CommitmentsCtrl', function($scope){
	$scope.msg = 'hi';
	$scope.days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'];
	$scope.dayIndices = _.range($scope.days.length);
	$scope.hours = ['10-11', '11-12', '12-1', '1-2'];
	$scope.hourIndices = _.range($scope.hours.length);
	$scope.clear = function(){
		$('.selected').each(function(){
			$(this).removeClass('selected');
		});
	}
	$scope.saveCommitments = function(){
		hours = [];
		$('.selected').each(function(){
			hours.push(parseInt($(this).attr('id').split('-')[1]));
		});
		$.ajax({
			url: '/me/update_commitments',
			data: {'hours': hours},
			type: 'POST', 
			success: function(data){
				console.log('success');
				console.log(data);
				commitments = data;
				colorCommitments();
				alert('Commitments saved!');
			}
		})
	};

	function activateHours(){
		$('.hour-div').click(function(){
			if($(this).hasClass('selected')){
				$(this).removeClass('selected');
			}
			else{
				$(this).addClass('selected');
			}			
		});
	}

	function colorCommitments(){
		$('.selected').each(function(){
			$(this).removeClass('selected');
		});
		_.each(commitments, function(x){
			selection = $('#hour-'+x);
			if(selection.length > 0){
				$('#hour-'+x).addClass('selected');
			}
		});
	}

	setTimeout(function(){
		activateHours();
		colorCommitments();
	}, 500);
});
</script>
</body>
